.first-text {
  margin-top: 100px;

  color: white;
  display: inline-block;
  font-family: "SN pro", sans-serif;
}

body {
  background-color: darkred;
}

img {
  margin-top: 200px;

  height: 100px;
}
img:hover {
  transform: scale(3.5);
}

.shayshimages {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.test {
  display: flex;
  justify-content: center;
}

.buttondiv {
  display: flex;
  justify-content: center;
}
